/*	margin-top: -7.5em;
	margin-left: 2em;*/
/*	display: block;
	text-align: center;
	background: rgb(0, 0, 0);  fallback color 
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
	border-radius: 10px;*/

	/*  margin-top: -8.5em;
margin-left: 2em;*/
/*display: block;
text-align: center;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.2);
border-radius: 10px;
padding: 0;*/