* {
	box-sizing: border-box;
}

body {
	background-color: #FFEDDA;
}

.top, .bottom, .left, .right {
	background: #F1C3C2;
	position: fixed;
}

.left, .right {
	top: 0; 
	bottom: 0;
	width: 1em;
}

.left { 
	left: 0; 
}

.right { 
	right: 0; 
}

.top, .bottom {
	left: 0; 
	right: 0;
	height: 1em;
}

.top { 
	top: 0; 
}

.bottom { 
	bottom: 0; 
}

.mylogo {
	display: flex;
	width: 20em;
	padding: 2em;
}


.headtext1 {
	font-family: 'Josefin Slab', serif;
	font-size: 3.4em;
	position: absolute;
	width: 14em;
    height: auto;
    margin-top: -9.5em;
    margin-left: 1.7em;
}

.headtext1 p {
	margin-bottom: .3em;
	text-align: left;
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
	height: 111px;
    width: 716px;
}	
/*
} 
.headtext2 {
	font-family: 'Josefin Slab', serif;
	font-size: 3.5em;
	position: absolute;*/




.myphoto {
	border-radius: 50%;
	width: 30em;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	opacity: .75;

}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}