* {
	box-sizing: border-box;
}

body {
	background-color: #FFEDDA;
}

.top, .bottom, .left, .right {
	background: #F1C3C2;
	position: fixed;
}

.left, .right {
	top: 0; 
	bottom: 0;
	width: 1em;
}

.left { 
	left: 0; 
}

.right { 
	right: 0; 
}

.top, .bottom {
	left: 0; 
	right: 0;
	height: 1em;
}

.top { 
	top: 0; 
}

.bottom { 
	bottom: 0; 
}

header {
	padding-bottom: 10em;
}

.mylogo {
	display: flex;
	width: 20em;
	padding: 2em;
}


.headtext1 {
	font-family: 'Josefin Slab', serif;
	font-size: 3.4em;
	position: absolute;
    margin-top: -9.5em;
    margin-left: 1.7em;
}

.headtext1 p {
	text-align: left;
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;


}

.line1 {
	font-family: 'Josefin Slab', serif;
	margin-bottom: .3em;
    width: 41%;
    padding-left: 0.3em;
    margin-left: 17%;
}	

.line2 {
	font-family: 'Josefin Slab', serif;
    margin-top: 7.5em;
    width: 85%;
    padding-left: 0.3em;
    margin-left: 3.3em;
	
}


.myphoto {
	border-radius: 50%;
	width: 30em;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	opacity: .75;
	margin-top: 5em;

}

.col-sm-6 {
	width: 48% !important;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}