* {
	box-sizing: border-box;
}

body {
	background-color: #FFEDDA;
	background-color: rgba(255, 237, 218, 0.58);
}

/*<!-- border -->*/
.top, .bottom, .left, .right {
	background: #F1C3C2;
	position: fixed;
}

.left, .right {
	top: 0; 
	bottom: 0;
	width: 1em;
}

.left { 
	left: 0; 
}

.right { 
	right: 0; 
}

.top, .bottom {
	left: 0; 
	right: 0;
	height: 1em;
}

.top { 
	top: 0; 
}

.bottom { 
	bottom: 0; 
}

/*.startingStage {
    width: 100%;
    height: auto;
    z-index: 10;
}*/


.logo {
    opacity: 0.55;
    position: fixed;
    background-color: #FFF4E9;
    margin-left: 25%;
    margin-top: 14%;
    height: 8em;
    width: 45em;

}

.mylogo {
    width: 31em;
    display: flex;
    margin-right: auto;
    margin-top: 2%;
    margin-left: 6%;
    position: fixed;
    z-index: 10;
}

.myphoto {
    border-radius: 25%;
    width: 40em;
    display: flex;
    margin-right: auto;
    position: fixed;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 2%;
    z-index: -10;
    opacity: .8;

}

.headtext1 {
   font-family: 'Josefin Slab', serif;
    font-size: 3em;
    position: absolute;
    margin-left: 10.8em;
    margin-top: -.57em;
    text-align: left;


}

.line1 {
    text-align: center;
    margin-bottom: 2.71em;
    margin-left: 1em;
}

.heart {
    position: fixed;
    margin-top: 24.2em;
    margin-left: 58.5%;
    display: none;
}

.fa-2x {
    margin-right: 1.5em;
}

.strengths {
    padding-top: 35em;
    font-family: 'Josefin Slab', serif;
    display: none;
    margin-left: 27em;
}

.stText {
    font-size: 3em;
    text-align: center
}

.things {
    display: flex;
    justify-content: center;
    margin-bottom: 10em;
    margin-top: -1.25em;
}

.things span{
    margin: .5em;
}

.things .fa-heart {
    font-size: .3em;
    margin-top: .5em;
}

.design {
/*    padding-top: 35em;*/
    font-family: 'Josefin Slab', serif;
    display: none;
    margin-left: 27em;
}

.diText {
    font-size: 3em;
    text-align: center
}

.designs {
    display: flex;
    justify-content: center;
    margin-bottom: 6.75em;
    margin-top: -1.25em;
}

.designs span{
    margin: .5em;
}

.designs .fa-heart {
    font-size: .3em;
    margin-top: .5em;
}